<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
  <link rel="preload" href="https://cdn.jsdelivr.net/gh/nisanthchunduru/fonts@master/Nohemi/Web-TT/Nohemi-Light.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap" as="style">
  <script>
    const storedTheme = localStorage.getItem('theme');
    if (storedTheme === 'dark') document.documentElement.classList.add('dark');
    else document.documentElement.classList.remove('dark');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= typeof title !== 'undefined' ? title + ' - Nisanth Chunduru' : 'Nisanth Chunduru' %></title>
  <meta name="description" content="<%= typeof description !== 'undefined' ? description : "Nisanth Chunduru" %>">
  <% if (typeof ogTitle !== 'undefined') { %>
  <meta property="og:title" content="<%= ogTitle %>">
  <% } %>
  <% if (typeof description !== 'undefined') { %>
  <meta property="og:description" content="<%= description %>">
  <% } %>
  <meta name="google-site-verification" content="CIGnBZCqH2WX_UMtk5WQP3UJg6UIk_2HNNlBAnLFatA">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="stylesheet" href="<%= assetPath('application.css') %>">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap" media="print" onload="this.media='all'">
  <script src="<%= assetPath('application.js') %>" defer></script>
</head>
<body>
  <div class="flex flex-col dark:bg-brand-dark" style="min-height: 100vh" data-controller="theme">
    <%- include('../partials/header') %>
    <%- body %>
    <%- include('../partials/footer') %>
  </div>
</body>
</html>
